<div class="main_container">
	<div class="pseudo_container">
		<!--stats container-->
		<div class="stats_container">
			<!--Handle-->
			<div class="handle_name">
				<h1><%=@username%></h1>
			</div>
			<!--End Handle-->
			<!--Section Banner-->
			<div class="section_banner">
				<h2 class="section_title">quick look</h2>
			</div>
			<!--End Section Banner-->
			<!--start bubbles-->
			<div class="bubbles">
				<div class="bubble">
					<div class="icon_container">
						<img class="icon" src="<%= image_path 'heart.png'%>"/>
					</div>
					<div>
						<h3>likes</h3>
					</div>
				</div>

				<div class="bubble">
					<div class="icon_container">
						<img class="icon" src="<%= image_path 'frequency.png'%>"/>
					</div>
					<div>
						<h3>frequency</h3>
					</div>
				</div>

				<div class="bubble">
					<div class="icon_container">
						<img class="icon" src="<%= image_path 'friend.png'%>"/>
					</div>
					<div>
						<h3>friends</h3>
					</div>
				</div>

			</div>
			<!--end bubbles-->
			<!--start bubble boxes-->
			<div class="bubble_boxes">
				<div class="bubble_box">
					<p class="box_text"><span id="av_likes"><%=@average_likes_per_photo%></span>average likes per photo</p>
				</div>

				<div class="bubble_box">
					<p class="box_text">you post every <span id="velocity"><%=@velocity%></span> days</p>
				</div>

				<div class="bubble_box">
					<p class="box_text"><span id="percent_followers"><%=@percentage_of_followers_who_liked%>% </span>of your followers liked a post</p>
				</div>
			</div>
			<!--end bubble boxes-->
			<!--start lists-->
			<div class="lists" id="left">
				<div class="list">
					<div class="list_title"><h2><span style="color:#FFD700">e</span>top fans<span style="color:#FFD700">d</span></h2></div>
					<ol>
						<% i = 0 %>
						<% while i < @number_of_photos %>
							<% if @top_likers[i] %>
							<li><%=@top_likers[i][0]%></li>
							<% end %>
							<% i = i + 1 %>
						<% end %>
					</ol>
				</div>

				<div class="list" id="right">
					<div class="list_title"><h2>top tagged</h2></div>
						<% if @top_tagged != "No users tagged"%>
							<ol>
								<%@top_tagged.each do |user_count_pair|%>
								<li><%= user_count_pair[0]%></li>
						<%end%>

							</ol>
					<%else%>
						No friends tagged!
					<%end%>
				</div>
			</div>
			<!--end lists-->
			<!--start filters blurb -->
			<div>
				<div class="filters">
					<img class="filter_image" src="<%= image_path 'filter.png'%>" width="100px"/>
					<p>Looks like <strong><%=@filters[0][0]%></strong> is your favorite filter.<br> You've used it <strong><%=@filters[0][1]%></strong> times.</p>
				</div>
			</div>
			<!--end filters blurb-->
		</div>
		<!--end stats container-->
	</div>
	<!--end pseudo container-->
</div>
<!--end main container-->