<div class="main_container">
	<div class="pseudo_container">
		<!--stats container-->
		<div class="stats_container">
			<!--Handle-->
			<div class="handle_name">
				<h1 class="handle_text"><%=@username%></h1>
				<h3><em>stats on <%=@username%>'s last 10 posts</em></h3>
			</div>
			<!--End Handle-->
			<!--start bubbles-->
			<div class="bubbles">
				<div class="bubble">
					<div class="icon_container">
						<img class="icon" src="<%=@handle_profile_pic%>"/>
					</div>
					<div>
						<h3>likes</h3>
					</div>
				</div>

				<div class="bubble">
					<div class="icon_container">
						<img class="icon" src="<%= image_path 'frequency.png'%>"/>
					</div>
					<div>
						<h3>frequency</h3>
					</div>
				</div>

				<div class="bubble">
					<div class="icon_container">
						<img class="icon" src="<<%=@versus_profile_pic%>"/>
					</div>
					<div>
						<h3>friends</h3>
					</div>
				</div>

			</div>
			<!--end bubbles-->
			<!--start bubble boxes-->
			<div class="bubble_boxes">
				<div class="bubble_box">
					<p class="box_text"><span id="av_likes"><%=@average_likes_per_photo%></span>average likes per photo</p>
				</div>

				<div class="bubble_box">
					<p class="box_text">you post every <span id="velocity"><%=@velocity%></span> days</p>
				</div>

				<div class="bubble_box">
					<p class="box_text"><span id="percent_followers"><%=@percentage_of_followers_who_liked%>% </span>of your followers liked a post</p>
				</div>
			</div>
			<!--end bubble boxes-->
			<!--div spacer-->
			<div class="spacer">
			</div>
			<!--div-->
		</div>
		<!--end stats container-->
	</div>
	<!--end pseudo container-->
</div>
<!--end main container-->